// @import 'custom_bootstrap';

@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import url("https://use.typekit.net/ksf1uxh.css");


// /* Tablet Landscape */
// @media screen and (max-width: 1060px) {
//     #primary { width:67%; }
//     #secondary { width:30%; margin-left:3%;}
// }
//
// /* Tabled Portrait */
// @media screen and (max-width: 768px) {
//     #primary { width:100%; }
//     #secondary { width:100%; margin:0; border:none; }
// }

.navbar.navbar-expand-lg.navbar-light.bg-dark {
  padding: 19px 25px 30px 100px;
  font-family: aktiv-grotesk-condensed, sans-serif;
  font-style: normal;
  font-weight: 10;
  width: 100%;
  overflow-x: hidden;
}

.navbar {
  background-color: #43535b !important;
  overflow-x: hidden;

}


.icon-box {
  padding-bottom: 225px;
  padding-left: 60px;
  margin-left: 5px;
  box-sizing: border-box;
  width: 50%;
  display: inline-block;
}

.idle-logo {
  height: 67px;
  width: 157px;
  background: url("./../public/images/on-idle_logo_white.svg");
  background-repeat: no-repeat;
  z-index: 1;
}

.col.container {
  position: relative;
  width: 50%;
}

.img-fluid.first-img {
  // opacity: 1;
display: block;
width: 100%;
height: auto;
transition: .5s ease;
backface-visibility: hidden;
}

.middle-circle {
  transition: .5s ease;
opacity: 0;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
text-align: center;
}

.col.container:hover .img-fluid.first-img {
  -webkit-filter: grayscale(80%); /* Safari 6.0 - 9.0 */
  filter: grayscale(80%);
}

.col.container:hover .middle-circle {
  opacity: 1;
}

.text {
  height: 200px;
  width: 200px;
  background-color: #fff;
  border-radius: 50%;
  font-family: aktiv-grotesk-condensed, sans-serif;
  font-style: normal;
  font-weight: 10;
}

.migros {
  font-weight: bold;
  color: #43535b;
  justify-content: center;
}

.box-model {
  background-color: #b92255;
  width: 100%;
  border:80px 25px 80px 25px solid #b92255;
  padding: 65px 25px 215px 25px;
  margin: 135px 0 95px 0;
}

.vl {
  border-left: thick solid white;
  height: 250px;
  margin-left: 90px;
}

.nav-text {
  padding-top: 36px;
  padding-left: 50px;
  font-size: 20px;
  width: 494px;
  letter-spacing: 3px;
  font-family: aktiv-grotesk-extended, sans-serif;
  font-style: normal;
  font-weight: 100;
}

.u-line {
  padding-left: 4px;
}

.nav-link {
  height: 100px;
  font-size: 10px;
}

.nav-item {
  color: white;
}

.nav-item:link {
  color: #b92255;
  background-color: #43535b;
}

.nav-item:hover {
  color: #43535b;
  background-color: #b92255;
}

.work {
  padding-left: 4px;
}

.get-in-touch {
  margin: 0px auto;
  width: 100%;
  padding-top: 290px;
  padding-right: 250px;
}

.more {
  padding-right: 200px;
  margin-top: 28px;
  text-align: right;
  font-family: aktiv-grotesk-extended, sans-serif;
  font-style: normal;
  font-weight: 100;
}

.img-fluid {
  padding-top: 20px;
}



.more2 {
  margin-top: 28px;
  text-align: right;
  padding-top: 12px;
  font-family: aktiv-grotesk-extended, sans-serif;
  font-style: normal;
  font-weight: 100;
}

.more1 {
  padding-top: 76px;
  margin-bottom: 150px;
  text-align: right;
  font-family: aktiv-grotesk-extended, sans-serif;
  font-style: normal;
  font-weight: 100;

}

.taster {
  margin-left: 130px;
  font-family: aktiv-grotesk-thin, sans-serif;
  font-style: normal;
  font-weight: 100;
  margin-bottom: 0;
  font-size: 20px;
  line-height: 1.4em;
  color: #43535b;
  letter-spacing: 3px;
}

.dots {
  color: #b92255;
  font-weight: 400;
}

.taster {
  margin-left: 130px;
  font-family: aktiv-grotesk-condensed, sans-serif;
  font-style: normal;
  font-weight: lighter;
  margin-bottom: 0;
  font-size: 20px;
  color: #43535b;
}


.txt {
  padding-left: 125px;
  padding-bottom: 60px;
  margin-right: 720px;
  font-family: aktiv-grotesk-condensed, sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 20px;
}


.row-9 {
  margin: 85px 140px 0 140px;
  position: absolute;
  display: flex;
}

u {
  text-decoration: none;
  border-bottom: 5px solid #b92255;
}

.u-line {
  text-decoration: none;
  border-bottom: 5px solid #fff;
}
.line {
  text-decoration: underline;
}

.line:hover {
  color: #b92255;
  background-color: #43535b;
  text-decoration: underline;
}

.circle {
  height: 150px;
  width: 150px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  margin-left: 13px;
}

.shout {
  margin-bottom: 24px;
  margin-left: 128px;
  font-family: aktiv-grotesk-thin, sans-serif;
  font-style: normal;
  font-weight: 100;
  margin-bottom: 0;
  font-size: 20px;
  line-height: 1.4em;
  color: #43535b;
  letter-spacing: 3px;
}

.comp-logo1 {
  height: 100px;
  width: 100px;
  margin: 45px 25px 25px 25px;
  background: url("./../public/images/virgin-media.svg");
  background-repeat: no-repeat;
  filter: gray;
  -webkit-filter: grayscale(100%);
}
.comp-logo2 {
  height: 100px;
  width: 100px;
  margin: 55px 25px 25px 25px;
  background: url("./../public/images/four-corners-logo-2.svg");
  background-repeat: no-repeat;
  filter: gray;
  -webkit-filter: grayscale(100%);
}
.comp-logo3 {
  height: 100px;
  width: 100px;
  margin: 25px;
  background: url("./../public/images/American-Express-logo.svg");
  background-repeat: no-repeat;
  filter: gray;
  -webkit-filter: grayscale(100%);
}
.comp-logo4 {
  height: 100px;
  width: 100px;
  margin: 67px 25px 25px 25px;
  background: url("./../public/images/the-foundry-logo.svg");
  background-repeat: no-repeat;

.comp-logo5 {
  height: 100px;
  width: 100px;
  margin: 67px 25px 25px 25px;
  background: url("./../public/images/the-foundry-logo.svg");
  background-repeat: no-repeat;
}

  filter: gray;
  -webkit-filter: grayscale(100%);
}

.comp-logo1:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}
.comp-logo2:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}
.comp-logo3:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}
.comp-logo4:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}
.comp-logo5:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}


.social-h6 {
  font-family: aktiv-grotesk-extended, sans-serif;
  font-style: normal;
  font-weight: 500;
  padding-top: 20px;
  color: #43535b;
  font-size: 15px;
}

.social-p {
  font-family: aktiv-grotesk-extended, sans-serif;
  font-style: normal;
  font-weight: 100;
  color: #43535b;
  font-size: 10px;
}


.footer.navbar-inverse.navbar-bottom.bg-dark {
  // padding-bottom: 200px;
  position: fixed;
}

.nav {
  background-color: #43535b !important;
}


.logo-txt1 {
  padding-top: 45px;
  font-family: aktiv-grotesk-thin, sans-serif;
  font-style: normal;
  font-weight: lighter;
  letter-spacing: 3px;
}

.logo-txt {
  font-family: aktiv-grotesk-thin, sans-serif;
  font-style: normal;
  font-weight: lighter;
  letter-spacing: 3px;
}


.img-1 {
  margin-top: 20px;
  padding-top: 190px;
  // background: url("./../public/images/rsz_1idle-tobbacco.jpg")
  background-repeat: no-repeat;
  // height: 188px;
  // width: 255px;

}

.fb-icon1 {
  z-index: 3;
  position: absolute;
  margin-top: -40px;
  right: 25px;
  height: 35px;
  width: 35px;
  background: url("./../public/images/facebook_white.svg");
}
.fb-icon2 {
  z-index: 3;
  position: absolute;
  margin-top: -40px;
  right: 25px;
  height: 35px;
  width: 35px;
  background: url("./../public/images/facebook_white.svg");
}

.on-logo1 {
  margin-bottom: 90px;
  position: absolute;
  margin-top: -40px;
  right: 25px;
  height: 35px;
  width: 35px;
  background: url("./../public/images/on_white.svg");
  background-repeat: no-repeat;
}
.on-logo2 {
  margin-bottom: 90px;
  position: absolute;
  margin-top: -40px;
  right: 25px;
  height: 35px;
  width: 35px;
  background: url("./../public/images/on_white.svg");
  background-repeat: no-repeat;

}

.footer-logo {
  padding-top: 30px;
  height: 150px;
  width: 150px;
  background: url("./../public/images/on_white.svg");
  background-repeat: no-repeat;
  // cursor: pointer;
}

.footer-logo:active {
  background-color: #fff;
  box-shadow: 0 5px #fff;
  transform: translateY(4px);
}

.copyright-txt {
  padding-bottom: 40px;
  font-family: aktiv-grotesk-thin, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 6px;
}

.footer-txt {
  font-size: 8px;
  font-family: aktiv-grotesk-thin, sans-serif;
  font-style: normal;
  font-weight: 100;
}

.hr-line {
  margin-top: 150px;
}
