// @import 'custom_bootstrap';

@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import url("https://use.typekit.net/ksf1uxh.css");


.navbar.navbar-expand-lg.navbar-light.bg-dark {
  padding: 19px 25px 30px 100px;
  font-family: aktiv-grotesk-condensed, sans-serif;
font-style: normal;
font-weight: 10;
width: 100%;
overflow-x: hidden;
//   font-family: aktiv-grotesk-extended, sans-serif;
// font-style: normal;
// font-weight: lighter;
//   width: 100%;
//
// .navbar.navbar-expand-lg.navbar-light.bg-dark.sticky-top {
//   padding: 19px 25px 30px 100px;
//   font-family: sans-serif;
//   width: 100%;

}

.icon-box {
  padding-bottom: 225px;
  padding-left: 60px;
  box-sizing: border-box;
  width: 50%;
  display: inline-block;
}

.idle-logo {
      height: 67px;
      width: 157px;

}

.box-model {
  background-color: #b92255;
  width: 100%;
  border:80px 25px 80px 25px solid #b92255;
  padding: 65px 25px 215px 25px;
  margin: 135px 0 65px 0;
}

.vl {
  border-left: thick solid white;
  height: 250px;
  margin-left: 90px;
}

.nav-text {
  padding-top: 36px;
  padding-left: 50px;
  font-size: 20px;
  width: 494px;
  letter-spacing: 3px;
  font-family: aktiv-grotesk-extended, sans-serif;
  font-style: normal;
  font-weight: 100;
}

.u-line {
  padding-left: 4px;
}

.nav-item {
  height: 100px;
  font-size: 10px;
}

.work {
  padding-left: 4px;
}

.get-in-touch {
  margin: 0px auto;
  width: 100%;
  padding-top: 290px;
  padding-right: 250px;
}

.more {
  padding-right: 125px;
  margin-top: 28px;
  text-align: right;
  font-family: aktiv-grotesk-extended, sans-serif;
font-style: normal;
font-weight: 100;
}

.img-fluid {
  padding-top: 80px;
}


.more2 {
  margin-top: 28px;
  text-align: right;
  padding-top: 12px;
  font-family: aktiv-grotesk-extended, sans-serif;
font-style: normal;
font-weight: 100;
}

.more1 {
  padding-top: 74px;
  margin-bottom: 150px;
  text-align: right;
  font-family: aktiv-grotesk-extended, sans-serif;
font-style: normal;
font-weight: 100;

}

.taster {
  margin-left: 130px;
  font-family: aktiv-grotesk-extended, sans-serif;
font-style: normal;
font-weight: 100;
margin-bottom: 0;
}

.dots {
  color: #b92255;
}


.txt {
 margin-right: 823px;
 font-family: aktiv-grotesk-extended, sans-serif;
font-style: normal;
font-weight: 100;
 // font-size: 5vw;
  }


.row-9 {
  margin: 85px 140px 0 140px;
  position: absolute;
  display: flex;
}

u {
  text-decoration: none;
    border-bottom: 5px solid #b92255;
}

.u-line {
  text-decoration: none;
    border-bottom: 5px solid #fff;
}

.line {
  text-decoration: underline;
}

.circle {
height: 150px;
width: 150px;
background-color: #fff;
border-radius: 50%;
display: inline-block;
margin-left: 13px;
}

.shout {
  margin-bottom: 24px;
  margin-left: 128px;
  font-family: aktiv-grotesk-extended, sans-serif;
font-style: normal;
font-weight: 100;
}


.comp-logo {
  height: 100px;
  width: 100px;
  margin: 25px;
  filter: gray;
  -webkit-filter: grayscale(100%);
}

.comp-logo:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}

h6 {
  font-family: aktiv-grotesk-extended, sans-serif;
font-style: normal;
font-weight: 100;
}

.footer.navbar-inverse.navbar-bottom.bg-dark {
  // padding-bottom: 200px;
  position: fixed;
}


.logo-txt {
  padding-top: 45px;
}

.on-logo {
  height: 100px;
  width: 100px;
  margin-bottom: 90px;
}

.img-fluid1 {
  height: 188px;
  width: 255px;
  z-index: 1;
}

.fb-icon {
  z-index: 3;
  position: absolute;
  margin-top: 145px;
  right: 25px;
  height: 35px;
  width: 35px;
}

.on-logo {
  z-index: 3;
  position: absolute;
  margin-top: 145px;
  right: 25px;
  height: 35px;
  width: 35px;
}

.footer-logo {
  padding-top: 30px;
  height: 150px;
  width: 150px;
}

.copyright-txt {
padding-bottom: 40px;
font-family: aktiv-grotesk-extended, sans-serif;
font-style: normal;
font-weight: 100;
font-size: 6px;
}

.footer-txt {
  font-size: 8px;
  font-family: aktiv-grotesk-extended, sans-serif;
font-style: normal;
font-weight: 100;

}

.hr-line {
margin-top: 150px;

}
