.navbar.navbar-expand-lg.navbar-light.bg-dark.sticky-top {
  padding: 100px;
  font-family: sans-serif; }

.box-model {
  background-color: #b92255;
  width: 100%;
  border: 80px 25px 80px 25px solid #b92255;
  padding: 25px 25px 160px 25px;
  margin: 135px 0 65px 0; }

.vl {
  border-left: thick solid white;
  height: 200px; }

p {
  padding-right: 181px;
  margin-top: 28px;
  text-align: right; }

.dots {
  color: #b92255; }

u {
  text-decoration: none;
  border-bottom: 5px solid #b92255; }

.circle {
  height: 150px;
  width: 150px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  margin-left: 13px; }
